body{
    background-color: black;
    color: white;
}
table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}
th{
    border-bottom: 1px solid white;
}
td{
    text-align: center;
}
img{
    height: 50px;
    width: 50px;
}
